* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#new_player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#new_player label,
#new_player input {
  display: inline-block;
  margin-bottom: 1em;
}

#rotate_right,
#rotate_left {
  position: absolute;
  top: 50%;
  /* width: 4em;
  height: 4em; */
  background-color: green;
  color: white;
  border: none;
  font-size: 5em;
}

#rotate_right {
  top: 50%;
  right: 10px;
}

#rotate_left {
  left: 10px;
}

img.topleft {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 25vw;
  width: 25vw;
}

img.botright {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 25vw;
  width: 25vw;
}
